.border-right-1 {
    border-right: 1px;
}

.h-150px {
    height: 150px!important;
}

.has-treeview .nav-link {
    cursor: pointer;
}

.badge-image {
    position: absolute !important;
    left: 15px !important;
    top: 15px !important;
}

.text-grey-box {
    border-radius: .3rem;
    background: #d2d6de;
    color: #444;
    padding: 5px 10px;
}
/*kazemi*/
body {
    overflow-x: hidden;
}
.fish-color {
    color: #a1cbef;
}
.energy-color {
    color: #f3ad4c;
}
.fruit-color {
    color: #9cd46a;
}
.beverages-color {
    color: #d6d85e;
}
.smoke-color {
    color: #b59351;
}
.textile-color {
    color: #bec5cb;
}
.cloth-color {
    color: #5694d2;
}
.chemical-color {
    color: #9584cc;
}
.plastic-color {
    color: #cc978d;
}
.lumber-color {
    color: #B37700;
}
.pulp-color {
    color: #C4FF4D;
}
.ferrous-color {
    color: #59e6e4;
}
.non-ferrous-color {
    color: #0691e2;
}
.fabricated-color {
    color: #23e2a2;
}
.motorized-color {
    color: #e27b53;
}
.machinery-color {
    color: #815be2;
}
.electronic-color {
    color: #d0e231;
}
.furniture-color {
    color: #e2c136;
}
.glass-color {
    color: #bfbcc0;
}
.pack-color {
    color: #c08c99;
}
.miscellaneous-color {
    color: #63c086;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: rgb(0, 102, 211) !important;
}
div.dataTables_wrapper div.dataTables_info {
    padding-left: 4px !important;
}
.pagination li.page-item a.page-link {
    background-color: transparent ;
    border-color: transparent ;
    font-size: 15px !important;
    padding: 0.3rem 0.75rem !important;
    transition: 0.2s;
}
.pagination li.page-item a.page-link:hover {
    background-color: #2a2f348a ;
    transition: 0.2s;
}
.pagination .page-item.active .page-link {
    background-color: #007bff !important;
    border-color: #007bff;
}
.user-paginate .pagination .page-item.active .page-link {
    background-color: #007bff !important;
    border-color: #007bff;
    padding: 0.24rem 0.7rem ;
}
.user-paginate .pagination .page-item.disabled .page-link {
    background-color: transparent;
    border-color: transparent;
    padding: .24rem 0.7rem;
}
.pagination .page-item.disabled .page-link {
    background-color: transparent ;
    border-color: transparent ;
}
.pagination .page-link:focus {
    box-shadow:none !important;
}
.import-check .form-check-label {
    margin-bottom: 0;
    margin-left: 20px !important;
}
.ui-tooltip {
    background-color: #202020 ;
    padding: 4px 10px;
    box-shadow: none;
}
.ui-tooltip-content {
    color: white;
    font-size: 12px ;
}
.ui-widget.ui-widget-content {
    border: 1px solid #3b3b3b !important;
}

div.search-filters-row {
    width: 40%;
    margin: 0 auto;
}
.right-sidebar .r-panel-body ul {
    margin: 0;
    padding: 0;
}

.box-radio.box-radio-numeric {
    width: 100%;
    padding: 0;
    margin: 0;
}
.right-sidebar .r-panel-body ul li {
    list-style: none;
    padding: 5px 0;
}
.box-radio.box-radio-numeric li {
    flex-grow: 1;
    list-style-type: none;
}
.box-radio li {
    padding: 0!important;
    margin-left: -1px;
}
.box-radio li:last-child input[type=radio]+label{
    border-radius: 0 2px 2px 0;
}
.box-radio input[type=checkbox]+label.first-element, .box-radio input[type=radio]+label.first-element {
    border-radius: 2px 0 0 2px;
}
/*.box-radio input[type=checkbox]+label:last-child, .box-radio input[type=radio]+label:last-child {*/
    /*border-radius: 10px 20px 20px 2px;*/
/*}*/
.box-radio.box-radio-numeric input[type=checkbox]+label, .box-radio.box-radio-numeric input[type=radio]+label {
    padding: 0px 0px 0 0px;
    margin: 0;
     font-weight: 500;
    font-size: 14px;
}
.box-radio input[type=checkbox]+label, .box-radio input[type=radio]+label {
    cursor: pointer;
    text-align: center;
    background: #2b2b2b;
    color: #888888;
    padding: 2px 10px;
    /*border: 1px solid #a7a6ab;*/
    border-radius: 0;
    min-width: max-content;
}
.box-radio.box-radio-numeric label {
    width: 100%;
}
.box-radio.box-radio-numeric label:hover {
    color: #ffffff;
}
.box-radio input[type=checkbox], .box-radio input[type=radio] {
    margin-left: -99999px;
    display: none;
    font-width: 300;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.box-radio input[type=checkbox]:checked+label, .box-radio input[type=radio]:checked+label {
    color: #fff;
    width: 100%;
}

.no-pd-r {
    padding: 0 !important;
}
.no-pd-l {
    padding: 0 !important;
}
.card-align .card-body {
    height: 250px;
    overflow-y: auto;
}
.card-align .card-bd {
    height: 287px;
    overflow-y: auto;
}

.card-align .card-header .card-title {
    float: none !important;
    text-align: center !important;
}
.buy-orders {
    width: 100%;
    height: auto;
    background-color: rgba(196, 238, 206, 0.76);
    border-radius: 2px;
    margin: 8px 0;
}
.buy-orders-sub {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.sell-orders {
    width: 100%;
    height: auto;
    background-color: #f1bfc4;
    border-radius: 2px;
    margin: 8px 0;
}
.sell-orders-sub {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.dashboard-chart .card-body{
    height: 250px;
}
.card-margin .card-mrg {
    margin-bottom: 0 !important;
}
.crd-mr {
    padding: 0.1rem 0.6rem !important;
}
.commission {
    width: 100%;
    padding: 15px 0 25px 0;
    text-align: center !important;

}
.nav-order {
    list-style-type: none;
}
.dashboard-order-w {
    padding:0px 10px 1px 10px !important;
}
.submit-order {
    position: absolute;
    top: 0px;
    right: 10px;
}
.submit-order .nav-item  {
    padding: 4px 0 0 0;
}
.submit-order .btn-warning.focus, .submit-order .btn-warning:focus {
    color: #1f2d3d;
    background-color: #ffc107;
    border-color: #ffc107;
}
.submit-order .btn-warning:hover , .submit-order .btn-warning:hover {
    color: #1f2d3d;
    background-color: #d39e00;
    border-color: #d39e00;
}
.sell-color {
    color: #ffffff;
    background-color:#dc3545 ;
    font-size: 14px;
    padding: 2px 10px 4px 10px;
    font-weight: 500;
}
.buy-color {
    color: #ffffff;
    background-color:#28a745 ;
    font-size: 14px;
    padding: 2px 10px 4px 10px;
    font-weight: 500;
}
.card.card-outline-tabs .card-header .submit-order a {
    border-top: none !important;
}
.table-scroll::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.table-scroll::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
}

.table-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 0;
}
.card-align .card-body::-webkit-scrollbar{
    width: 5px;
    height: 8px;
}
.card-align .card-body::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
}

.card-align .card-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 0;
}
.table-responsive .table {
    max-width: none;
}
.card-primary.card-outline-tabs>.card-header a.active {
    border-top: 3px solid #007bff !important;
}
.login-page, .register-page {
    -ms-flex-align: center;
    align-items: center;
    /*background-image: url("../../img/wp2.jpg") !important;*/
    /*background-size: cover !important;*/
    /*background-repeat: no-repeat !important;*/
    /*background-position: center !important;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}
.login-logo b , .register-logo b{
   color: #fff !important;
    font-size: 36px !important;
    font-weight: 600 !important;
}
.user-cash {
    color: #c2c7d0;
    font-size: 14px;
}
.menu-img {
    margin-top: 0.7rem;
}
@media (max-width: 1200px){
    /*new*/
    div.search-filters-row {
        width: 65%;
        margin: 0 auto;
    }
    /**/
    .box-radio.box-radio-numeric input[type=checkbox]+label, .box-radio.box-radio-numeric input[type=radio]+label {
        padding: 0px 5px 0 5px;
    }
}
@media (max-width: 992px){
    .box-radio.box-radio-numeric input[type=checkbox]+label, .box-radio.box-radio-numeric input[type=radio]+label {
        padding: 0px 0px 0 0px;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 650px){
    .box-radio.box-radio-numeric input[type=checkbox]+label, .box-radio.box-radio-numeric input[type=radio]+label {
        padding: 0px 5px 0 5px;
    }
    div.search-filters-row {
        width: 47%;
    }
}
@media (max-width: 576px) {
    div.search-filters-row {
        width: 55%;
    }
    .modal-btn {
        margin: 5px 0;
    }
}
@media (max-width: 500px) {
    div.search-filters-row {
        width: 85%;
    }
    .submit-order {
        position: unset;
        margin: 15px 0;
    }
    .submit-order .nav-item {
        padding: 4px 8px 0 8px;
    }
    .skin-midnight .submit-order .btn {
        line-height: 1.5;
    }
}
@media (max-width: 350px) {
    div.search-filters-row {
        width: 90%;
    }
}
/**/

.dropdown-menu {
    max-width: 400px;
}

/* jquery month picker styles */
.month-picker .month-picker-year-table .month-picker-title .ui-button {
    padding: 0!important;
}
.month-picker .ui-button.ui-corner-all.ui-widget {
    padding: 0!important;
}
/**/

/* amcharts */
#product_chart_div_wrapper, #product_chart_div {
    width: 100%;
    height: 310px;
}

#product_chart_message {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End amchart */
